/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap"); */

@font-face {
  font-family: "linja pona";
  src: url("../fonts/linja-pona-4.1.woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* width: 100%; */
}

body {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: #000;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "linja pona";
}

.container {
  /* width: 100%; */
  /* background-color: #eee; */
  color: #fff;
  /* padding: 15px; */
  /* border-radius: 4px; */
  /* box-shadow: 0 0 15px 2px; */
}

h1 {
  font-family: Montserrat;
  font-weight: 200;
  text-align: center;
  padding-bottom: 12px;
}

.interface-container {
  display: grid;
  grid-template-columns: 70% 30%;
  /* column-gap: 16px; */
}

/* .toki {
  font-family: "linja pona";
} */

.text-output {
  font-family: "linja pona";
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 2rem;
  padding-left: 32px;
}

.button-container {
  /* display: grid; */
}

.btn-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  margin-top: 6rem;
  margin-right: 24px;
}

.btn {
  font-family: Montserrat;
  font-weight: 100;
  font-size: 1.1rem;
  background-color: #9ca594;
  border: 1px solid #2d9857;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  outline: none;
}

.btn:hover {
  border-color: #000;
}

.glow {
  /* font-size: 80px; */
  /* color: #fff; */
  /* text-align: center; */
  /* -webkit-animation: glow 1s ease-in-out infinite alternate; */
  /* -moz-animation: glow 1s ease-in-out infinite alternate; */
  /* animation: glow 1s ease-in-out infinite alternate; */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */
